* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --brand-color: #E07B67;
    --dark-10: #121214;
    --dark-20: #17171A;
    --dark-30: #202024;
    --dark-40: #252529;
    --dark-50: #AFABB6;
    --dark-60: #FFFFFF;
}

body {
    background: var(--dark-10);
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    padding: 64px 0px;

    background: var(--dark-20);
}

header h1 {
    color: var(--dark-60);
    font-size: 40px;
    font-weight: 500;

    font-family: 'Inter', sans-serif;
}

header h1 span {
    color: #E07B67;
}

header #input-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

header #input-search img {
    position: absolute;
    left: 20%;
}

header #search {
    width: 75%;
    padding: 16px 56px;
    
    background: url(./assets/images/icon-search.svg) no-repeat left;
    background-position: 24px;
    background-size: 24px;

    border-radius: 8px;
    border: 2px solid var(--dark-40);

    color: var(--dark-60);

    font-family: 'Inter', sans-serif;
}

header #search:focus-visible {
    outline: none;
}

/* MAIN POSTS */

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding: 50px 0px;
}

main #novo-post {
    padding: 10px;

    cursor: pointer;

    border: 2px solid var(--dark-40);
    border-radius: 8px;
    
    background: var(--dark-20);
    color: var(--dark-60);

    margin-bottom: 30px;

    transition: border .5s;
}

main #novo-post:hover {
    border: 2px solid var(--brand-color);
}

main .posts {
    width: 75%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 2px solid var(--dark-40);
    background: var(--dark-20);
    border-radius: 8px;

    transition: border .5s;
}

main .posts:hover {
    border: 2px solid var(--brand-color);
}

main .informacoes {
    display: flex;
    justify-content: space-between;

    position: relative;
}

main .data-publicacao {
    color: var(--brand-color);
    font-size: 16px;
    font-weight: 500;

    font-family: 'Inter', sans-serif;
}

main .container-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    position: absolute;
    right: 0;
}

main .botao-gostei {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

main .botao-deletar {
    width: 40px;
    cursor: pointer;
}

main .conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .titulo-post {
    color: var(--dark-60);
    font-size: 24px;
    font-weight: 500;

    font-family: 'Space Grotesk', sans-serif;
}

main .descricao-post {
    width: calc(100% - 35px);
    font-size: 18px;
    color: var(--dark-50);
    line-height: 32px;

    font-family: 'Inter', sans-serif;
}

/* RODAPÉ */

footer {
    padding: 40px 0px;

    display: flex;
    justify-content: center;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    color: #fff;
}

footer a {
    text-decoration: none;

    color: var(--brand-color);

    transition: color .5s;
}

footer a:hover {
    color: #e05b40;
}

@media (max-width: 450px) {
    main .posts {
        width: 90%;
        padding: 32px 24px;
    }

    main .titulo-post {
        font-size: 20px;
    }

    main .descricao-post {
        font-size: 14px;
        line-height: 23px;
    }

    main .container-botoes {
        gap: 30px;
    }

    main .botao-gostei {
        width: 20px;
        height: 20px;
    }

    main .botao-deletar {
        width: 24px;
        height: 24px;
    }
}